

@{
    ViewData["Title"] = "Home";
}


    <main>
      <section id="hero">
        <div class="container">
          <div class="d-flex justify-content-between">
            <div class="col-5 text">
              <h2>Enjoy Your Healthy<br />Delicious Food</h2>
              <p>
                Sed autem laudantium dolores. Voluptatem itaque ea consequatur
                eveniet. Eum quas beatae cumque eum quaerat.
              </p>
              <div class="d-flex align-items-center">
                <a class="btn btn-danger" href="">Book a Table</a>
                <div class="d-flex align-items-center watch">
                  <i class="bi bi-play-circle"></i>
                  <a href="" class="button"><span>Watch Video</span></a>
                </div>
              </div>
            </div>
            <div class="col-5">
              <div class="bgimage">
                <img scr="~/img/hero-img.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="menu">
        <div class="container">
          <div class="head">
            <span>Our Menu</span>
            <h2>Check Our Yummy Menu</h2>
            <ul class="d-flex justify-content-center">
              <li><a href="">starter</a></li>
              <li><a href="">starter</a></li>
              <li><a href="">starter</a></li>
              <li><a href="">starter</a></li>
            </ul>
            <div class="menu-title">
              <span>Menu</span> <br />
              <h2>Starter</h2>
            </div>
            <div class="row menu-items flex-wrap">
              <div class="col-4 menu-item">
                <a href=""
                  ><img
                    scr="~/img/menu/menu-item-2.png"
                    class="menu-img img-fluid"
                    alt=""
                /></a>
                <h4>Magnam Tiste</h4>
                <p class="ingredients">Lorem, deren, trataro, filede, nerada</p>
                <p class="price">$5.95</p>
              </div>
              <div class="col-4 menu-item">
                <a href=""
                  ><img
                    scr="~/img/menu/menu-item-2.png"
                    class="menu-img img-fluid"
                    alt=""
                /></a>
                <h4>Magnam Tiste</h4>
                <p class="ingredients">Lorem, deren, trataro, filede, nerada</p>
                <p class="price">$5.95</p>
              </div>
              <div class="col-4 menu-item">
                <a href=""
                  ><img
                    scr="~/img/menu/menu-item-2.png"
                    class="menu-img img-fluid"
                    alt=""
                /></a>
                <h4>Magnam Tiste</h4>
                <p class="ingredients">Lorem, deren, trataro, filede, nerada</p>
                <p class="price">$5.95</p>
              </div>
              <div class="col-4 menu-item">
                <a href=""
                  ><img
                    scr="~/img/menu/menu-item-2.png"
                    class="menu-img img-fluid"
                    alt=""
                /></a>
                <h4>Magnam Tiste</h4>
                <p class="ingredients">Lorem, deren, trataro, filede, nerada</p>
                <p class="price">$5.95</p>
              </div>
              <div class="col-4 menu-item">
                <a href=""
                  ><img
                    scr="~/img/menu/menu-item-2.png"
                    class="menu-img img-fluid"
                    alt=""
                /></a>
                <h4>Magnam Tiste</h4>
                <p class="ingredients">Lorem, deren, trataro, filede, nerada</p>
                <p class="price">$5.95</p>
              </div>
              <div class="col-4 menu-item">
                <a href=""
                  ><img
                    scr="~/img/menu/menu-item-2.png"
                    class="menu-img img-fluid"
                    alt=""
                /></a>
                <h4>Magnam Tiste</h4>
                <p class="ingredients">Lorem, deren, trataro, filede, nerada</p>
                <p class="price">$5.95</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="form">
        <div class="container">
          <div class="col-4">
            <img scr="" alt="" />
          </div>
          <div class="col-8">
            <div class="bg-light rounded h-100 p-4">
              <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="floatingInput"
                  placeholder="name@example.com"
                />
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                  placeholder="Password"
                />
                <label for="floatingPassword">Password</label>
              </div>

              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea"
                  style="height: 150px"
                ></textarea>
                <label for="floatingTextarea">Comments</label>
              </div>

              <a class="btn btn-danger" href="">Book a Table</a>
            </div>
          </div>
        </div>
      </section>
    </main>